/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/MontserratAlternates-Medium.ttf");
}

span, h1, h2, h3, h4, h5, h6, p, a, div, button {
    font-family: "Montserrat", sans-serif;
}

@layer components{
    
    .sidebar-icon {
        @apply relative flex items-center justify-center
        h-12 w-12 mt-2 mb-2 mx-auto
        text-blue-unni
        hover:bg-blue-unni hover:text-white
        rounded-xl transition-all duration-300 ease-linear
        cursor-pointer;
    }
}